
 <a href="https://ktmdiaries.wordpress.com/"> <div class="c1"> </div> </a>

<div class="c2"></div>
<div class="c3"></div>

<a href="https://darkinventor.github.io/DarkIntro/"> <div class="c4"> </div> </a>

<a href="https://ktmdiaries.wordpress.com/contact/"> <div class="c5"></div> </a>

<p class="p1"> <a class="a1" href="https://ktmdiaries.wordpress.com/">Blog</a> </p>
<p class="p2">Web & App Designs</p>
<p class="p3">My Projects</p>
<p class="p4"> <a class="a4" href="https://darkinventor.github.io/DarkIntro/"> About Me </a> </p>
<p class="p5"> <a class="a5" href="https://ktmdiaries.wordpress.com/contact/"> Get in Touch </a> </p>