    <svg width="324" height="110" viewBox="0 0 624 210" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_i)">
    <path d="M4.57764e-05 0H398C398 0 906.5 377 398 120C-110.5 -137 4.57764e-05 120 4.57764e-05 120V0Z" fill="url(#paint0_linear)"/>
    </g>
    <defs>
    <filter id="filter0_i" x="-10.1413" y="0" width="634.141" height="213.692" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="shape" result="effect1_innerShadow"/>
    </filter>
    <linearGradient id="paint0_linear" x1="306.929" y1="0" x2="306.929" y2="209.692" gradientUnits="userSpaceOnUse">
    <stop stop-color="#9F9FA0"/>
    <stop offset="1" stop-color="#A09F9F" stop-opacity="0"/>
    </linearGradient>
    </defs>
    </svg>
    
    
    <app-cards></app-cards>